<!-- Custom Crosshair Cursor Component -->
<div class="cursor-container">
    <div class="crosshair">
        <div class="crosshair-horizontal"></div>
        <div class="crosshair-vertical"></div>
        <div class="crosshair-center"></div>
        <div class="crosshair-corner crosshair-top-left"></div>
        <div class="crosshair-corner crosshair-top-right"></div>
        <div class="crosshair-corner crosshair-bottom-left"></div>
        <div class="crosshair-corner crosshair-bottom-right"></div>
        <div class="crosshair-click"></div>
    </div>
</div>