<!-- Header Component with 3D Rotating Logo -->
<header class="site-header">
    <a href="http://www.vonholtencodes.com" style="text-decoration: none; color: inherit;">
        <span class="thick">VonHolten</span><br>
        <span class="thick">Codes</span><br>
        <span class="thin">.com</span>
    </a>
    
    <!-- 3D Rotating VH Logo -->
    <div class="vh-logo-3d">
        <div class="logo-face front">
            VH
            <span class="bullet-hole bullet-hole-1"></span>
            <span class="bullet-hole bullet-hole-2"></span>
        </div>
        <div class="logo-face back">VH</div>
        <div class="logo-face right"></div>
        <div class="logo-face left"></div>
        <div class="logo-face top"></div>
        <div class="logo-face bottom"></div>
    </div>
</header>