<!-- Time Widgets Component (Birthday Counter and World Clock) -->
<div class="time-widgets-container">
    <!-- Birthday Counter Widget -->
    <div class="time-widget birthday-counter">
        <div class="widget-title">Age Counter</div>
        <div class="age-display" id="age-value">--</div>
        <div class="counter-units">
            <div class="counter-unit">
                <div class="unit-value" id="days-value">00</div>
                <div class="unit-label">Days</div>
            </div>
            <div class="counter-unit">
                <div class="unit-value" id="hours-value">00</div>
                <div class="unit-label">Hours</div>
            </div>
            <div class="counter-unit">
                <div class="unit-value" id="minutes-value">00</div>
                <div class="unit-label">Mins</div>
            </div>
            <div class="counter-unit">
                <div class="unit-value" id="seconds-value">00</div>
                <div class="unit-label">Secs</div>
            </div>
        </div>
        <div class="birthday-date">Since May 27, 1984 at 1:27pm CT</div>
    </div>
    
    <!-- World Clock Widget -->
    <div class="time-widget world-clock">
        <div class="widget-title">World Clock</div>
        <div class="clocks-container">
            <div class="clock">
                <div class="clock-time" id="local-time">--:--:--</div>
                <div class="clock-zone">Local</div>
            </div>
            <div class="clock">
                <div class="clock-time" id="utc-time">--:--:--</div>
                <div class="clock-zone">UTC</div>
            </div>
            <div class="clock">
                <div class="clock-time" id="eastern-time">--:--:--</div>
                <div class="clock-zone">Eastern</div>
            </div>
            <div class="clock">
                <div class="clock-time" id="pacific-time">--:--:--</div>
                <div class="clock-zone">Pacific</div>
            </div>
        </div>
    </div>
</div>